[defaults]
host_key_checking = False 
inventory = ./inventory_aws_ec2.yaml
# remote_tmp = /home/tim/.ansible/tmp
# allow_world_readable_tmpfiles = true

enable_plugins = aws_ec2
remote_user = ec2-user
private_key_file = ~/ec2-ansible-ssh.pem
